.main {
    background-color: $color-dark;
    display: flex;
    width: 1440px;
    height: 100vh;
    padding: 129px 135px 101px;
}

.price-card {
    width: 380px;
    height: 770px;
    background-color: $color-grey;
    margin-right: 15px;
    text-align: center;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
    &:last-child {
        margin-right: 0;
    }
    &__price {
        width: 100%;
        display: inline-block;
        background-color: $color-green;
        font-weight: 700;
        font-size: 55px;
        line-height: 104px;
        background-color: $color-green;
    }
    &__description {
        width: 328px;
        margin: 0 auto;
        margin-top: 39px;
        margin-bottom: 42px;
        font-weight: 300;
        line-height: 18px;
    }
    &__order-btn {
        color: $color-white;
        line-height: 17px;
        padding: 0;
        margin-bottom: 42px;
        text-transform: uppercase;
        width: 155px;
        height: 40px;
        border-radius: 20px;
        border: none;
    }
}

.card-title {
    &__main {
        margin-bottom: 0;
        margin-top: 30px;
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
    }
    &__subtitle {
        font-weight: 300;
        font-size: 20px;
        margin: 0;
        margin-bottom: 36px;
    }
}

.options-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    &__item {
        display: flex;
        line-height: 50px;
        &:nth-child(odd) {
            background-color: $color-darkgrey;
        }
        &:nth-child(even) {
            background-color: $color-grey;
        }
        &:last-child {
            margin-bottom: 37px;
        }
    }
}

.list-item__shape {
    width: 15px;
    height: 13px;
    margin-left: 22.25px;
    margin-right: 21.40px;
    align-self: center;
}

.list-item__shape-basic {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
}

.price-card__order-btn-basic {
    background-color: $color-green;
}

.price-card__business {
    position: relative;
    overflow: hidden;
    .ribbon {
        position: absolute;
        text-transform: uppercase;
        background-color: $color-red;
        transform: rotate(45deg);
        width: 147.08px;
        height: 25.01px;
        line-height: 25.01px;
        font-weight: 700;
        font-size: 14px;
        right: -30px;
        top: 30px;
    }
}

.list-item__shape-basic {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
}

.price-card__order-btn-basic {
    background-color: $color-green
}

.price-card__price-business {
    background-color: $color-blue;
}

.list-item__shape-business {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
}

.price-card__order-btn-business {
    background-color: $color-blue
}

.list-item__shape-webshop {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
}

.price-card__price-webshop {
    background-color: $color-orange;
}

.price-card__order-btn-webshop {
    background-color: $color-orange
}