.price-card {
    overflow: hidden;
    position: relative;
    width: 380px;
    padding: 31px 0 42px 0;
    background-color: $color-grey;
    margin-right: 15px;
    &:last-child {
        margin-right: 0;
    }
    &__price {
        padding: 18px 0;
        font-weight: 700;
        font-size: 55px;
        line-height: 67px;
        margin: 0;
        margin-top: 38px;
    }
    &__description {
        margin: 0;
        margin-top: 39px;
        width: 328px;
        padding: 0.2px 5px 0 0.2px;
        line-height: 18px;
        display: inline-block;
        opacity: 0.8;
    }
    &__title {
        h2 {
            font-weight: 700;
            font-size: 35px;
            line-height: 43px;
            margin-bottom: 0;
            margin-top: 30px;
        }
        span {
            font-weight: 300;
            font-size: 20px;
            margin: 0;
            margin-bottom: 36px;
        }
    }
    &__options-list {
        margin: 0;
        margin-top: 40px;
        padding: 0;
        list-style-type: none;
        &__item {
            font-weight: 300;
            background-position: left 22px center;
            background-repeat: no-repeat;
            padding: 16px 21px 16px 58px;
            line-height: 18px;
        }
        &__item:nth-child(odd) {
            background-color: $color-darkgrey;
        }
    }
}

.headline {
    text-align: center;
}

.container-description,
.container-button {
    text-align: center;
}

.price-card__order-btn {
    display: inline-block;
    border-radius: 20px;
    width: 155px;
    line-height: 100%;
    text-align: center;
    border: none;
    outline: none;
    margin: 37px auto 0 auto;
    padding: 12px 0;
    font-size: 14px;
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.first {
    .price-card__price {
        background-color: $color-green;
    }
    .price-card__options-list__item {
        background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
    }
    .price-card__order-btn {
        background-color: $color-green;
    }
}

.second {
    .price-card__price {
        background-color: $color-blue;
    }
    .price-card__options-list__item {
        background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
    }
    .price-card__order-btn {
        background-color: $color-blue;
    }
    .price-card__ribbon {
        position: absolute;
        background-color: $color-red;
        font-weight: bold;
        font-size: 14px;
        width: 147px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        right: -30px;
        top: 30px;
        transform: rotate(45deg);
        text-transform: uppercase;
    }
}

.third {
    .price-card__price {
        background-color: $color-orange;
    }
    .price-card__options-list__item {
        background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
    }
    .price-card__order-btn {
        background-color: $color-orange;
    }
}